<?xml version="1.0"?>
<!--
  Weitere Informationen zum Konfigurieren der ASP.NET-Anwendung finden Sie unter
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KSW.CtExpert.WebApplication.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.1"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization"/>
        <add namespace="KSW.CtExpert.WebApplication"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
        Die ASP.NET-Mitgliedschaft ist in dieser Vorlage deaktiviert. Besuchen Sie den folgenden Link http://go.microsoft.com/fwlink/?LinkId=301889, um Informationen zur Mitgliedschaftsunterstützung von ASP.NET in dieser Vorlage zu erhalten.
        -->
        <clear/>
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
        Das ASP.NET-Mitgliedschaftsprofil ist in dieser Vorlage deaktiviert. Besuchen Sie den folgenden Link http://go.microsoft.com/fwlink/?LinkId=301889, um Informationen zur Mitgliedschaftsunterstützung von ASP.NET in dieser Vorlage zu erhalten.
        -->
        <clear/>
      </providers>
    </profile>
    <roleManager>
      <!--
          Die ASP.NET-Mitgliedschaftsrolle ist in dieser Vorlage deaktiviert. Besuchen Sie den folgenden Link http://go.microsoft.com/fwlink/?LinkId=301889, um Informationen zur Mitgliedschaftsunterstützung von ASP.NET in dieser Vorlage zu erhalten.
        -->
      <providers>
        <clear/>
      </providers>
    </roleManager>
    <!--
            Wenn die Bereitstellung in einer Cloud-Umgebung erfolgt, die über mehrere Webserverinstanzen verfügt,
            sollten Sie den Sitzungsstatusmodus aus "InProc" in "Custom" ändern. Ändern Sie
            außerdem die Verbindungszeichenfolge namens "DefaultConnection" so, dass eine Verbindung mit einer Instanz
            von SQL Server (einschließlich SQL Azure und SQL  Compact) anstatt mit SQL Server Express hergestellt wird.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="BaseDataContext" providerName="System.Data.SqlClient" connectionString="Server=(localdb)\v11.0;Database=CTEX;Integrated Security=True; MultipleActiveResultSets=True;"/>
    <add name="EnterpriseCoreDataContext" providerName="System.Data.SqlClient" connectionString="Server=(localdb)\v11.0;Database=CTEX;Integrated Security=True; MultipleActiveResultSets=True;"/>
    <add name="TrialManagerDataContext" providerName="System.Data.SqlClient" connectionString="Server=(localdb)\v11.0;Database=CTEX;Integrated Security=True; MultipleActiveResultSets=True;"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <applicationSettings>
    <KSW.CtExpert.WebApplication.My.MySettings>
      <setting name="AssemblyLocation" serializeAs="String">
        <value>C:\Temp\Build\AnyCPU</value>
      </setting>
      <setting name="ApplicationTypeName" serializeAs="String">
        <value>KSW.Afs.WebBridge.WebbridgeServer</value>
      </setting>
      <setting name="ApplicationAssemblyName" serializeAs="String">
        <value>KSW.Afs.WebBridge.dll</value>
      </setting>
    </KSW.CtExpert.WebApplication.My.MySettings>
  </applicationSettings>
</configuration>